body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

#game-container {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    width: 90%;
    margin-bottom: 80px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #5f1a68;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background 0.3s;
    align-items: center;
}

button img {
    width : 24px;
    height: 24px;
    margin-right: 8px;
}
button:hover {
    background: #b641c5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d6d6d6;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer nav {
    display: flex;
    width: 100%;
}

footer button {
    flex: 1;
    border: none;
    padding: 15px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d6d6d6;
    color: #000000;
    transition: background-color 0.3s;
}

footer button:hover {
    background-color: #f0f0f0;
}

footer button img {
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
