body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#game-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #5f1a68;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background 0.3s;
}

button img {
    width : 24px;
    height: 24px;
    margin-right: 8px;
}
button:hover {
    background: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
